input.microImg{
	height: 200px;
	width: 200px;
    outline:none;
}

input.playImg{
	height: 80px;
	width: 80px;
    outline:none;
}

input.randomImg{
    height: 80px;
    width: 100px;
    outline:none;
}

select#selectLanguage{
    outline:none;
}

.mpButtons button{
    background-color: white;
    border:none;
    outline:none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    height: 100%;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay table {
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay td{
    overflow-x: hidden;
    max-width: 15vw !important; 
    text-align: center; 
    vertical-align: middle;
    line-height:100%;
    vertical-align: middle;
}

.overlay td.tdSongs{
    border:1px solid white;
    line-height: 100%;
    vertical-align: middle;
}

/* NO CAMBIA NA */
.overlay th.thSongs{
    line-height: 100%;
    vertical-align: middle;
}

.overlay td:hover, .overlay td:focus {
    color: #f1f1f1;
}

.overlay {
    position: absolute;
    right: 45px;
    font-size: 60px;
}

@media only screen and (max-width: 440px) {
    .tableIcons.desktop{
        visibility: hidden;
    }

    .orderArrows{
        min-width:50px;
        visibility: visible;
    }
}

.orderArrows{
    visibility: hidden;
}

.tableIcons.desktop{
    visibility: visible;
}


hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#d3d3d3;
    height: 1px;
}

#refreshIcon{
    width:25px;
    height:25px;
}

.tableIcons{
    width:20px;
    height:20px;
}

